/* Font */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/* Variables */
:root {
    --c-brand: #f83691;
    --c-brand-rgb: 248, 54, 145;
    --c-dark: #303050;
    --c-body: #636383;
    --c-light: #f6f6f6;
    --f-main: "Bai Jamjuree", sans-serif;
    --transition: all .4s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

/* Reset & Helpers */
body {
    font-family: var(--f-main);
    color: var(--c-dark);
    line-height: 1.7;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    font-weight: 700;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--shadow);
}

a:hover {
    color: var(--c-dark);
}

img {
    width: 100%;
}

#kargo{
    background-image: url(/assets/images/pallet-1665471.jpg);
}
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.text-brand {
    color: var(--c-dark);
}

.setion-title {
    max-width: 560px;
    margin: 0 auto 60px auto;
}

.setion-title .line {
    width: 60px;
    height: 2px;
    background-color: var(--c-dark);
    display: inline-block;
}

.section-connector {
    position: relative;
}

.section-connector::after {
    content: '';
    width: 2px;
    height: 100px;
    background-color: var(--c-dark);
    position: absolute;
    top: -50px;
    left: 50%;
}

/* Navbar */


.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: var(--transition);
    
    
}
.navbar-nav{
    background-color: white
}


.navbar.scrolled {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color:white
    
}

.navbar-toggler {
    border-radius: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (min-width: 992px) {
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
        
    }
}

.navbar .navbar-nav .nav-link {
    font-weight: 700;
    color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active  {
    color: darkturquoise;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: var(--c-dark);
}




/* Btn */
.btn {
    padding: 10px 24px;
    border-radius: 0;
    border-width: 2px;
    font-weight: 500;
}

.btn-brand,
.btn-brand:focus {
    background-color: darkturquoise;
    color: white;
    border-color: darkturquoise
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--c-dark);
    border-color: darkturquoise;
}


/* Anasayfa */
#home {
    background-image: url(/assets/images/calculator-695084.png);
    background-position: center;
    background-size: cover;
}



/* Client */
.client {
    margin-top: -5px;
    margin-left: -1px;
}
.client img {
    opacity: 0.7;
    height: 30px;
}

/* Vize Hesaplama */
.eduexp {
    position: relative;
}

.eduexp::before {
    content: '';
    height: 100%;
    width: 1px;
    background-color:  darkturquoise;
    position: absolute;
    left: 0;
    top: 0;
}

.eduexp::after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: darkturquoise;
    position: absolute;
    left: -7px;
    top: 0;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

#contact input.form-control {
    height: 44px;
}

/* Footer */
footer {
    background-color: var(--c-dark);
    padding-top: 80px;
    background-image: url(/assets/images/calculator-385506_1920.jpg);
}

footer h4 {
    color: black;
    margin-bottom: 24px;
}

footer p,
footer li, 
footer li a {
    color: black;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-top: 6px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-bottom a {
    color: black;
}


